# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages in Data science
* Commonly used libraries in Data science
* Performing arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter |
| Rstudio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Yaswanth reddy